<!-- Front de la pagina principal -->
<!DOCTYPE html>
<html>

<!-- FAVICON -->
<link rel="shortcut icon" href="/favicon.ico">
<head>
    <title>CIAMAS</title>
<!-- Se pasa a adar estilo a la pagina -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>

        body {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 10;
            padding: 0;
            background-color: #D1B5FF;
        }

        header {
            background-color: #6E368F;
            font-size:x-large;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        nav ul {
          
            list-style-type: none;
            padding: 120;
        }

        nav li {
            display: inline;
            margin: 0 10px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
        }

        section {
            margin: 35px;
            padding: 20px;
            font-size:larger;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
        }    
           
        iframe {
            max-width: 100%;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        /* style para dividir horizontalmente */
        /*primer selection*/
        .contenedor1 {
            display: flex;
            justify-content: space-between; 
            /*background-color: #370e0e;*/
            padding: 20px;
        }
        .bloque1 {
            width: 70%; 
            /*background-color: #441ce5;*/
            padding: 10px;
            box-sizing: border-box; 
         }
        /*segundo selection*/
         .contenedor2 {
            display: flex;
            justify-content: space-between; 
            /*background-color: #370e0e;*/
            padding: 20px;
        }
        .bloque2 {
            width: 70%; 
            /*background-color: #441ce5;*/
            padding: 10px;
         }
         /*tercer selection*/
         .contenedor3 {
            display: flex;
            justify-content: space-between; 
            /*background-color: #370e0e;*/
            padding: 20px;
        }
        .bloque3 {
            width: 70%;
            /*background-color: #441ce5;*/
            padding: 10px;
         }

          /*cuarto selection*/
          .contenedor4 {
            display: flex;
            justify-content: space-between; 
            /*background-color: #370e0e;*/
            padding: 20px;
        }
        .bloque4 {
            width: 70%; 
            /*background-color: #441ce5;*/
            padding: 10px;
         }

    </style>
</head>
<body>
<!-- Sección para en nav-->
    <header>
        <h1>CIAMAS</h1>
        <nav>
            <ul>
                <li><a href="/">¿Quien soy?</a></li>
                <li><a href="/movil">Yo como App Movil</a></li>
                <li><a href="/registro">Registrate Conmigo</a></li>
                <li><a href="/admin">Registros</a></li>
            </ul>
        </nav>
    </header>
<!-- Sección para la primera descripción de CIAMAS-->
    <section class="contenedor1">
        <div class="bloque1">
            <h2>Software aplicativo para la protección y asistencia de su usuario</h2>
            <p>CIAMAS es el prototipo de un software aplicativo para la protección y asistencia del usuario, busca por medio de la cercanía y recolección información brindar una atención personalizada de seguridad, es un amigo virtual, cuyo único objetivo es tenerte a salvo.<br><br> como naturalidad de su sistema la integración con todos sus subsistemas. El software busca tener y renovar una actitud familiar con el usuario para emitirle tranquilidad, con esto mientras recolecta información le trasmite al usuario está cercanía, por otro lado toda su organización es dependiente, pues no se puede ejecutar sin la funcionalidad de cada elemento.</p>
        </div>
        <div class="bloque1">
            <img width="800" height="300" src="https://img.freepik.com/vector-premium/conjunto-lindos-robots-chatbots-ai-bots-personajes-diseno-vector-ai-tecnologia-ciber-caracteres-servicio-tecnologia-futurista-concepto-inteligencia-artificial-comunicacion_83002-70.jpg" ></img>            
        </div>
    </section>
<!-- Sección para la descripción de entropía y sinergía de CIAMAS -->
    <section class="contenedor2">
        <div class="bloque2">
            <h2>Entropia a solucionar</h2>
            <p>Actualmente nos encontramos en una sociedad donde la seguridad no es un beneficio del que todos puedan disfrutar, sin embargo, lo que siempre llevamos con nosotros es nuestro dispositivo móvil. <br> <br> Al estar en una circunstancia donde tu bienestar puede peligrar CIAMAS busca funcionar como tu asistente de seguridad, para acudir a tu llamado de auxilio, reaccionar de forma inmediata y solicitar la ayuda que necesitas.<br><br>  Ante una circunstancia de peligro, CIAMAS funciona como una sitema de alerta preventivo, para buscar de forma eficaz y en su mayor acertividad, evitar algun tipo de daño a tu integridad fisíca o psicologica.</p>
        </div>
        <div class="bloque2">
            <img width="600" height="400" src="https://s3.amazonaws.com/static.om.anigamy.net/static-wp.selecciones.com.ar/wp-content/uploads/2023/02/28194713/27-consejos-para-evitar-robos-en-la-calle-y-en-los-comercios-3108-mainImage-0.jpg" > </img>            
        </div>
        <div class="bloque2">
            <h2>Sinergia </h2>
            <p>Desarrollar un prototipo de un aplicativo móvil en lenguaje JavaScript o Python, que funcione de forma interactiva con el usuario, mediante una atención constante y personalizada al dar buen uso de la información privada, que le permitirá recopilar la información necesaria para actuar de manera inmediata y efectiva en busca de su bienestar.<br><br> El objetivo es crear poco a poco un aplicativo móvil donde llevemos un amigo digital que este al pendiente de nuestra seguridad, establecerá con nosotros una serie de códigos para poder actuar automáticamente a nuestro llamado, en caso de encontrarnos en peligro.</p>
        </div>
    </section>
<!-- Sección para describir los elemenmtos funcionales de nuestro sistema para TGS-->
    <section class="contenedor3">
        <div class="bloque3">
        <h2>Elementos funcionales del sistema de CIAMAS</h2>
        <p>El medio de CIMAS es su usuario con la intención de cubrir todo el entorno de seguridad de sus usuario, y tiene interconexión con el sistema de policía y comunicación con medios de contacto. Su medio será desarrollado en un aplicativo móvil y puede catalogarse como un sistema artificial, procedimental y abierto por su intercambio de información, entradas y salidas.</p>
        <p>Nos consideramos un sistema abierto debido a la entrada y salida de información, dada la funcionalidad por la suma completa de sus partes, dónde la neguentropía logra la sinergía del prototipo (seguridad del usuario), con el fin de una organización sistematizada, dónde cada elemento debe ser aceptado para la continuidad de su propósito. <br><br> Y un sistema artificial dado que su creación es emitida por el hombre para la solución de una entropía social, cómo lo es la seguridad y abandono de atención para el bienestar del sujeto. Utilizaremos como objeto un diseño en aplicativo móvil, con un concepto de privacidad del sujeto.</p>
        </div>
        <div class="bloque3" >
        <img  width="850" height="400" src="https://st4.depositphotos.com/1008648/24009/i/450/depositphotos_240091090-stock-photo-robot-hand-making-contact-with.jpg" > </img>   
        </div>
    </section>
 <!-- Ultima sección para la parte de conocenos, y datos de los creadores-->   
    <section class="contenedor4">
        <div class="bloque4">
            <h2>¡Conocenos!</h2>
            <p>CIAMAS esta creado para prevenir circunstancias desafortunadas que puedan poner en riesgo tu seguidad, Es un software aplicativo para la protección y asistencia al usuario. Atenderemos todas tus sugerencia para mejorar.<br>Creada por:</p>
        </div>
        <div class="bloque4">
            <br><br>
            <p><i class="fas fa-user"></i>  Carlos Andres Carlos Salazar </p>
            <p><i class="fas fa-phone"></i>  +57 350 340 5629</p>
            <p><i class="fas fa-envelope"></i>  cacastro@ucundinamarca.edu.co</p>
        </div>
        <div class="bloque4">
            <br><br>
            <p><i class="fas fa-user"></i>  Angela Mercedes Sanchez Hernandez </p>
            <p><i class="fas fa-phone"></i>  +57 310 296 3906</p>
            <p><i class="fas fa-envelope"></i>  angelamsanchez@ucundinamarca.edu.co</p>
        </div>
        
    </section>
</body>
</html>