<!-- Front de la pagina principal -->
<!DOCTYPE html>
<html>

<!-- FAVICON -->
<link rel="shortcut icon" href="/favicon.ico">
<head>
    <title>CIAMAS ALERTA</title>
<!-- Se pasa a adar estilo a la pagina -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>

        body {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 10;
            padding: 0;
            background-color: #D1B5FF;
        }

        header {
            background-color: #6E368F;
            font-size:x-large;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        nav ul {
          
            list-style-type: none;
            padding: 120;
        }

        nav li {
            display: inline;
            margin: 0 10px;
        }

        nav a {
            color: #fff;
            text-decoration: none;
        }

        section {
            margin: 35px;
            padding: 20px;
            font-size:larger;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
        }    
           
        iframe {
            max-width: 100%;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            width: 100%;
            bottom: 0;
        }
        

    </style>
</head>
<body>
<!-- Sección para en nav-->
    <header>
        <h1>CIAMAS</h1>
        <nav>
            <ul>
                <li><a href="/">¿Quien soy?</a></li>
                <li><a href="/movil">Yo como App Movil</a></li>
                <li><a href="/registro">Registrate Conmigo</a></li>
                <li><a href="/admin">Registros</a></li>
            </ul>
        </nav>
    </header>
    <div align="center">
    <section>
        <h1>NO TE PREOCUPES, YA ESTOY BUSCANDO AYUDA.</h1>
        <br></br>
        <H2>A CONTINUACIÓN ACUDIRE A TU SOLICITUD DE EMERGENGIA.</H2>
        <br></br>
        <h2>ENVIARE UN MENSAJE PREDETERMINADO EN BASE A LOS DATOS QUE ME DISTE.</h2>
        <div align="center">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRdfRsOrGQTESbwA-d9xyKUmIOVNb_g_Td1um-LKDpGflflBCvw" style="width: 20%; height: 20%;">
        </div>
    </section>
    </div>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>